<ion-header mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mot de passe oublié</ion-title>
        <ion-button mode="md" class="btn-back" (click)="page_login()" fill="outline">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button mode="md" class="btn-dismiss" (click)="dismissForm()" fill="outline">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="skerlingo-padding">
        <form [formGroup]="passwordForm">

            <div *ngIf="stepView == 'first'">
                <h1>Mot de passe oublié ?</h1>
                <p>Saisissez votre email et nous allons vous envoyer un lien pour réinitialiser votre <br> mot de passe
                    !
                </p>
                <ion-list class="ion-list-form">
                    <ion-item lines="none">
                        <ion-label mode="md" position="floating">Email</ion-label>
                        <ion-input [ngClass]="{'input-error': errors.includes('email') }" formControlName="email"
                            type="email">
                        </ion-input>
                    </ion-item>
                </ion-list>

                <ion-button mode="md" (click)="onSignIn()" class="btn-default">
                    réinitialiser
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </div>
            <div *ngIf="stepView == 'success'">
                <div class="no-data success-data">
                    <div>
                        <img src="assets/icon/success-register.svg" alt="">
                        <h5>Lien envoyé !</h5>
                        <p>{{ message }}</p>
                        <ion-button mode="md" (click)="open_gmail()">
                            Voir mon email
                        </ion-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>