<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095093334793-bjr8ild38jpio07ovs7dblb16c5h4g78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095093334793-bjr8ild38jpio07ovs7dblb16c5h4g78</string>
	<key>API_KEY</key>
	<string>AIzaSyCSAb6ENuOYenAxqstTJfTA_R-EzFwgyVY</string>
	<key>GCM_SENDER_ID</key>
	<string>1095093334793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.presty.manhattan</string>
	<key>PROJECT_ID</key>
	<string>chic-choc</string>
	<key>STORAGE_BUCKET</key>
	<string>chic-choc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095093334793:ios:d1a6924c4d58cfb53199d8</string>
	<key>DATABASE_URL</key>
	<string>https://chic-choc.firebaseio.com</string>
</dict>
</plist>