<ion-header mode="md">
  <ion-toolbar>
    <ion-title>
      <div class="toolbar-home">
        <ion-back-button></ion-back-button>
        <h4>{{ data?.lecon.label }} <span>{{ title }}</span></h4>
        <div>
          <span *ngIf="lettre_" (click)="click_favoris()">
            <ion-icon name="{{ checkFavoris() }}"></ion-icon>
          </span>
        </div>
      </div>
      <div class="lettres-switch">
        <div class="lettre" [ngClass]="{'unchecked-lettre': !lettre_ || lettre_.id != lettre_item.id}"
          *ngFor="let lettre_item of data?.lettres; let i = index" (click)="click_lettre(lettre_item, i)">
          <div class="kana" [ngStyle]="{'background-color': lettre_item.color}">
            {{lettre_item.kana}}
          </div>
          <span class="romaji" [ngStyle]="{'color': lettre_item.color}">{{lettre_item.romaji}}</span>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (panend)="handlePanEnd($event)">
  <ion-slides #slides (ionSlideNextEnd)="ionSlideNextEnd($event)" (ionSlidePrevEnd)="ionSlidePrevEnd($event)"
    pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let lettre of data?.lettres">


      <div *ngIf="lettre" class="lettre-infos">
        <h2>{{ lettre.label }}</h2>
        <div class="lettre-img-container" [ngStyle]="{'background-color': lettre.color}">
          <div class="stars">
            <ion-icon name="star{{ lettre.stars < number ? '-outline':'' }}" *ngFor="let number of [1,2,3,4,5]">
            </ion-icon>
          </div>
          <img [src]="lettre.illustration" alt="">
          <img class="img-relative" [ngStyle]="{'opacity': opacity }" [src]="lettre.illustration_letter" alt="">
          <div class="luminosite">
            <ion-icon name="sunny"></ion-icon>
            <span>Kana</span>
            <ion-range value="1" (ionFocus)="opacityFocus($event)" (ionChange)="opacityChange($event)" min="0" max="1"
              step="0.01">
            </ion-range>
            <span>{{ (opacity * 100 ) | number : '1.0-0'}}%</span>
          </div>
        </div>

        <div class="ordre-trait skerlingo-padding">
          <h2>{{ dataText.order_trait[currentLang] }} <span>({{lettre.kana}})</span></h2>
          <div class="traits">
            <div *ngFor="let trait of lettre.traits; let i = index">
              <div>
                <img [src]="trait" alt="">
              </div>
              <svg *ngIf="(lettre.traits.length - 1) > i" width="18" height="19" viewBox="0 0 18 19" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M3.75 9.5H14.25" stroke="black" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M9 4.25L14.25 9.5L9 14.75" stroke="black" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>

            </div>
          </div>
          <div class="audio-lettre">
            <p>{{lettre.kana}} <span>({{lettre.romaji}})</span></p>
            <div class="play-lettre" (click)="playLetter(lettre.audio)">
              <ion-icon name="play"></ion-icon>
            </div>
          </div>
          <div class="description-lettre">
            <div class="description-icon">
              <img src="assets/avatar.svg" alt="">
            </div>
            <div class="description-content" [innerHTML]="lettre.description"></div>
          </div>
          <div class="lecon-exemples">
            <div class="exemples-header">
              <h3>Examples</h3>
              <div>
                <h4>Romaji</h4>
                <ion-item lines="none">
                  <ion-toggle mode="ios" [(ngModel)]="showRomaji" slot="start" name="notif_match">
                  </ion-toggle>
                </ion-item>
              </div>
            </div>
            <div class="audio-lettre" *ngFor="let exemple of lettre.exemples; let i = index">
              <p>{{i + 1}}. {{exemple.kana}} <span *ngIf="showRomaji">({{exemple.romaji}})</span> <span
                  class="libelle">{{exemple.label}}</span></p>
              <div class="play-lettre" (click)="playLetter(exemple.audio)">
                <ion-icon name="play"></ion-icon>
              </div>
            </div>
          </div>
          <ion-button (click)="avis_form(lettre)" class="btn-avis">
            {{ dataText.feedback[currentLang] }}
          </ion-button>
        </div>
      </div>
    </ion-slide>

    <ion-slide>


      <div class="quiz-matiere">
        <div *ngIf="currentQuestion" class="quiz quiz-header">
          <div class="ressource">
            <ion-row align-items-center class="progress_counter">
              <ion-col *ngIf="!lecon_id">
                <span class="title-progress">Correct</span>
                <div class="progress-container progress-correct">
                  <span>{{ countCorrectAnswers | number:'2.0' }}</span>
                  <div class="progress">
                    <div [ngStyle]="{'width': pourcentageQuizCorrect+'%','color': data.color}" class="progress-bar"
                      role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </ion-col>
              <ion-col col-5 class="text-center">
                <span class="title-progress">Questions</span>
                <p class="questions">{{ (currentQuestionIndex < data.questions.length ? currentQuestionIndex + 1 :
                    currentQuestionIndex)+'/'+data.questions.length}}</p>
              </ion-col>
              <ion-col *ngIf="!lecon_id" class="text-right">
                <span class="title-progress">Mistakes</span>
                <div class="progress-container progress-wrong">
                  <span>{{ countWrongAnswers | number:'2.0' }}</span>
                  <div class="progress">
                    <div [ngStyle]="{'width': pourcentageQuizWrong+'%','color': data.color}" class="progress-bar"
                      role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div class="quiz">
          <div class="ressource">
            <div *ngIf="currentQuestion" class="questions_quiz">

              <h2>Choose the right answer</h2>
              <h3>{{ currentQuestion.question}}</h3>
              <div class="reponses">
                <span *ngFor="let reponse of currentQuestion.reponses; let i=index" (click)="answerQuestion(reponse, i)"
                  [ngClass]="reponseIndex == i ? (reponse.correct?'correct' : 'wrong'):(reponseIndex !== null && reponseIndex >= 0 && reponseIndex != i && reponse.correct)?'correct':'' ">
                  <img *ngIf="reponseIndex == i && !reponse.correct" src="assets/wrong.svg" alt="">
                  <img
                    *ngIf="(reponseIndex == i && reponse.correct) || (reponseIndex !== null && reponseIndex >= 0  && reponseIndex != i  && reponse.correct)"
                    src="assets/correct.svg" alt="">
                  {{ reponse.reponse }}
                </span>



                <ion-button
                  *ngIf="reponseIndex !== null && reponseIndex >= 0 && currentQuestionIndex !== null && currentQuestionIndex >= 0 && data?.questions[currentQuestionIndex]"
                  (click)="goToNextQuestion()" ion-button>
                  Next
                </ion-button>

                <ion-button class="next-lesson" *ngIf="!data.questions[this.currentQuestionIndex] && data.next_id"
                  (click)="nextLesson()" ion-button>
                  Next lesson
                </ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>